apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins-home-pv
  namespace: {{ namespace }}
spec:
  capacity:
    storage: {{ jenkins_storage_size | default('10Gi') }}
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: {{ jenkins_home_path | default('/jenkins_home') }}
  storageClassName: {{ storage_class | default('standard') }} 